<div class="mega-menu">
    <div class="menu-bg-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/_FOT1465.jpg);">
            </div>
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/_FOT1421.jpg);">
            </div>
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/_FOT1291.jpg);">
            </div>
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/image4.jpg);">
            </div>
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/_FOT1464.jpg);">
            </div>
            <div class="swiper-slide"
                style="background-image:  linear-gradient(to left, rgba(11, 10, 7, 0.7) 100%, transparent),url(/img/bgMenu-Slides/_FOT1053.jpg);">
            </div>
        </div>
    </div>
    <div class="menu-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="ferms.html">
                                АЛЮМІНІЄВІ ФЕРМИ
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                01
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    Алюмінієві ферми — це така багатофункціональна штука, яка не привертає увагу людей
                                    до
                                    себе,
                                    вона повинна бути просто виконувати свою функцію, тому ти про неї так мало знаєш і
                                    тому
                                    всі
                                    виробники досить концервативні в цьому плані і дотримуються однакового вигляду.
                                </p>
                                <p>
                                    Але наприклад наша ферма міцніша за інших її не зміг зламати навіть Corvette ZT 2
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="accessories.html">
                                АКСЕСУАРИ MTK TRUSS
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                02
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    Досить вішати пристрої на нейлонові стяжки. У нас великий вибір аксесуарів. Такі ж
                                    якісні і функціональні, ви їх навіть не помітите. Вони спростять життя вам і вашій
                                    роботі, тому що ваш час — дорожчий за будь-які гроші.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="#">
                                КОМПЛЕКТУЮЧІ СЦЕНИ
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                03
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    Ми завжди стараємося догодити нашому клієнту і виготовити сцену саме такою, якою він
                                    її собі уявляє, з дотриманням усіх норм і навантажень. Тут ви можете ознайомитись з
                                    тим з чого складається сцена і зв’язатися з нами, а далі ми зробимо ту сцену, про
                                    яку ви завжди мріяли.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="podium.html">
                                ПОДІУМ
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                04
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    MTK Щит — це високоякісний продукт, який володіє противодними та протиковзкими
                                    якостями, закутаними у міцний алюмінієвий каркас. Твоя забаганка буде виконана,
                                    оскільки ми здатні виготовити саме той розмір який тобі потрібно. Подіум нашого
                                    виробництва пройшов перевірку топовими зірками Українського та іноземного
                                    шоу-бізнесу.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="#">
                                ІНДИВІДУАЛЬНЕ ЗАМОВЛЕННЯ
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                05
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    Ви придумали, але не знаєте як це реалізувати? Довіртесь нам!
                                    Завдяки великому досвіду роботи і кваліфікованому персоналу ми зможемо відтворити найавантюрнішу вашу забаганку. 
                                </p>
                                <p>
                                    Замовляй прорахунок, або просто подивіться, що ми робили.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="swiper-slide__inner">
                        <div class="swiper-slide__title">
                            <a href="#">
                                про нас
                            </a>
                        </div>
                        <div class="swiper-slide__info">
                            <div class="swiper-slide__info-number">
                                06
                            </div>
                            <div class="swiper-slide__info-text">
                                <p>
                                    «Справжні атланти своєї справи» — найперше, що ви почуєте, спитавши про нас, компанія яка знаходится в сфері металу та металообробки з 2006 року, та вдосконалюється кожного дня!
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>