<section class="items">
    <div class="swiper-container items-scroll">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Замок-кріплення <span>№</span><span class="swiper-slide__number">1</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Замок-кріплення <span>№</span><span class="swiper-slide__number">2</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Замок-кріплення <span>№</span><span class="swiper-slide__number">3</span>
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Замок-кріплення <span>№</span><span class="swiper-slide__number">4</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="container">
        <div class="swiper-container items-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/67f4bf9d0b52334242410c836724fc14.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>60</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/5c5b4ab4ab6d8cc71359472b0e8592a7.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>70</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/2668ec6d78a7414e8010b7731e0ad9cd.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>80</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/5c5b4ab4ab6d8cc71359472b0e8592a7.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>90</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
                
        </div>
    </div>
</section>