<section class="items ferms">
    <div class="container">
        <ul class="items__tabs">
            <li><a href="#" class="items__tabs--active">Серія <span>2L</span></a></li>
            <li><a href="#">Серія <span>3L</span></a></li>
            <li><a href="#">Серія <span>4L</span></a></li>
        </ul>
    </div>
    <div class="items__content items__content--active">
        <div class="swiper-container items-scroll">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>2L</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>2L50/2</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>2L 50/3</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>2L 50/4</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="container">
            <div class="swiper-container items-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>70</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>

                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>20</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>60</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>30</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="items__content">
        <div class="swiper-container items-scroll">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>3L</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>3L50/2</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>3L 50/3</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>3L 50/4</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="container">
            <div class="swiper-container items-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>70</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>

                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>20</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>60</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>30</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="items__content">
        <div class="swiper-container items-scroll">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>4L</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>4L50/2</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>4L 50/3</span>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-slide__text">
                        <p>
                            Ферма <span>4L 50/4</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="container">
            <div class="swiper-container items-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>70</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>

                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>20</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>40</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>60</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__container">
                            <div class="swiper-slide__icon">
                                <img src="/img/icons/icon-info.svg" alt="">
                            </div>
                            <div class="swiper-slide__img">
                                <img src="/img/items-details/5d041969bb61ebca467617b091172d6d.png" alt="">
                            </div>
                            <div class="swiper-container items-scrollbar">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                220x2000mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>30</span> грн
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-slide__price">
                                            <div class="swiper-slide__price-width">
                                                333x4555mm
                                            </div>
                                            <div class="swiper-slide__price-wallet">
                                                <span>50</span> грн
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-scrollbar-wallet">
                                    <span>Вибрати розмір</span>
                                </div>
                            </div>
                            <div class="swiper-slide__tooltip">
                                <div class="swiper-slide__tooltip-info">
                                    <h3>Коротка інфа:</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>