<section class="items">
    <div class="swiper-container items-scroll">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Сходи сценічні
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Подіум
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Замок міжподіумний
                    </p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-items">
                <div class="swiper-slide__text">
                    <p>
                        Подіум
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="container">
        <div class="swiper-container items-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/f57b12a40e45dfb8d567ccf947b34f28.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>20</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/abfc03e84b87e829988ebff7e8ba352e.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>30</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/f57b12a40e45dfb8d567ccf947b34f28.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>40</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-items">
                    <div class="swiper-slide__container">
                        <div class="swiper-slide__icon">
                            <img src="/img/icons/icon-info.svg" alt="">
                        </div>
                        <div class="swiper-slide__img">
                            <img src="/img/items-details/f57b12a40e45dfb8d567ccf947b34f28.png" alt="">
                        </div>
                        <div class="swiper-slide__price">
                            <div class="swiper-slide__price-width">
                                220x2000mm
                            </div>
                            <div class="swiper-slide__price-wallet">
                                <span>50</span> грн
                            </div>
                        </div>
                        <div class="swiper-slide__tooltip">
                            <div class="swiper-slide__tooltip-info">
                                <h3>Коротка інфа:</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>