<section class="main">
    
    <div class="main__inner">
        <div class="main__logo">
            <img src="/img/logo-main.png" alt="">
        </div>
        <div class="main__video video__left">
            <video class="clip" src="/video/MTK DN 1.mp4" poster="/img/bgMenu-Slides/_FOT1181.jpg" type="video/mp4" loop muted playsinline></video>
            <div class="video__left-text">
                <p>Виробництво</p>
            </div>
        </div>
        <div class="main__video video__right">
            <video class="clip" src="/video/Long_2.mp4"  poster="/img/bgMenu-Slides/sv1.jpg" type="video/mp4" loop muted playsinline></video>
            <div class="video__right-text">
                <p>Експерименти</p>
            </div>
        </div>
    </div>
</section>